{% extends 'base.html.twig' %}

{% block title %}New Img{% endblock %}

{% block body %}
    <h1>Create new Img</h1>

    {{ include('img/_form.html.twig') }}

    <a href="{{ path('img_index') }}">back to list</a>
{% endblock %}
