{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="ht__bradcaump__area bg-image--5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Sign up</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/">Home</a>
                              <span class="brd-separetor">/</span>
                              <a class="breadcrumb_item active">Sign up</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <h1 style="margin-top:30px;">New User</h1>

      <form action="/admin/add" class="my_form" method="post" role="form">

                    <div class="account__form">
									<div class="input__box">
										<label>Email address <span>*</span></label>
										<input type="email" name="email" placeholder="email"  type="email" required>
									</div>
									<div class="input__box">
										<label>Password<span>*</span></label>
										<input type="password" name="password" placeholder="password" required type="password">
									</div>
                                
                                <input type="hidden" name="role" value="ROLE_USER">
                               

                                <button class="btnSecond" type="submit">Sign up
                                </button>
                                <button class="btnAdding" type="reset">Reset
                                </button>
                     </div>
     </form>
    <h5 style="margin-bottom:30px;"> Have an account ? <a  class="btnSecond" href="\login"> sign in </a><h5>
    </div>

{% endblock %}
